---
layout: default
---

<article>
  <section class="title">
    <h2>{{ page.title }} </h2>
  </section>
  <section class="meta">
  <span class="time">
    <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
  </span>
  {% if page.tags %}
  <span class="tags">
    {% for tag in page.tags %}
    <a href="/tags.html#{{ tag }}" title="{{ tag }}">#{{ tag }}</a>
    {% endfor %}
  </span>
  {% endif %}
  </section>
  <section class="post">
  {{ content }}
  </section>
  {% if page.guid %}
  <div class="divider">
    <span>
    {% if page.previous %}
    <a href="{{ page.previous.url }}"><i class="fa fa-chevron-left"></i></a>
    {% else %}
    <i class="fa fa-circle"></i>
    {% endif %}
    </span>
    <!-- 显示图片按钮 -->
    <script type="text/javascript">
        function showImg(imgid, btn)
        {
            var img = "#"+imgid;
            var imgpath = $(img).attr("path");
            $(img).attr('src', imgpath);
            $(img).css('display', '');
            $(btn).css('display', 'none');
        }
    </script>
    <span>
    {% if page.next %}
    <a href="{{ page.next.url }}"><i class="fa fa-chevron-right"></i></a>
    {% else %}
    <i class="fa fa-circle"></i>
    {% endif %}
    </span>
  </div>

  <!-- 多说评论框 start -->
    <div class="ds-thread"
      data-thread-key="{{ page.guid }}"
      data-title="{{ page.title }}"
      data-url="{{ site.atom-baseurl }}{{ page.url }}"
      data-form-position="bottom"
    ></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"{{ site.duoshuo }}"};
        (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0] 
                    || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
  <!-- 多说公共JS代码 end -->



  {% endif %}
</article>
